#Server Port
server:
  port: 8080

spring:
  mvc:
    static-path-pattern: /static/
  resources:
    static-locations: classpath:/static/
    add-mappings: true



  datasource:

#    url: jdbc:oracle:thin:@ATPDBNAME_high?TNS_ADMIN=/oracle/oracle_atp/Wallet_YCSD/
#    username: ADMIN
#    password: pw1234!@Pq5770uk!@
#    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/~/YCSD-APP
      username: hongma
      password:
      driver-class-name: org.h2.Driver

#      hikari:
#        jdbc-url: jdbc:oracle:thin:@YCSD_medium?TNS_ADMIN=./src/main/resources/Wallet_YCSD/
#        username: ADMIN
#        password: pw1234!@Pq5770uk!@
#        driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    properties:
      hibernate:
        show_sql : true
        format_sql : true


  thymeleaf:
    cache: false

logging:
  level:
    org.hibernate.SQL : debug

